<%- include("cabecera") %>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a href="/" class="navbar-brand ms-3">
      <img src="logo.png" alt="logo" width="60">
    </a>
    <div class="d-flex">
      <div class="navbar-nav me-3">
        <a href="/login" class="nav-link active" aria-current="page">
          <h2>Iniciar sesión</h2>
        </a>
      </div>
    </div>
  </div>
</nav>