<%- include("template/cabecera")%>

<body>
    <%- include("template/navigation") %>
    <div class="d-flex flex-column align-items-center mt-3">
        <h2 class="text-center mb-3">Bienvenido al administrador de Tu registro horario App</h2>
        <p class="text-center">
            Este proyecto es una API REST la cual se vuelca en una aplicación web con el mismo nombre

            Puede comenzar a utilizar esta API completamente gratis utilizando las instrucciones que le presentaremos a continuación.

            Recuerde visitar nuestro canal de Youtube donde tenemos un video explicando este proceso al completo!!
        </p>
        <h3 class="text-center mt-3">Importante: este administrador no dispone de versión adaptable debe verse simpre en pantalla completa para una mejor experiencia</h3>
    </div>
</body>